<div id="background">
  <img src="assets/site-images/faviconio-logo/logo.svg" alt="FreezeThePint.com logo" id="logo">
  <mat-toolbar color="primary">
      <button *ngIf="router.url === '/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle();">
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="router.url !== '/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        <span></span>
      </button>
      <span>Explore Ninja Creami Recipes</span>
  </mat-toolbar>
  <mat-sidenav-container>
      <mat-sidenav id="sidenav" #sidenav mode="over">
          <button class="sidenav-button" routerLink="">
            <h3>
              Home
            </h3>
          </button>
          <button class="sidenav-button" routerLink="/about">
            <h3>
              About
            </h3>
          </button>
      </mat-sidenav>
      <mat-sidenav-content id="sidenav-content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>